[submodule "thirdparty/quickjs"]
	path = thirdparty/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
	branch = tags/4.5.0
[submodule "thirdparty/raygui"]
	path = thirdparty/raygui
	url = https://github.com/raysan5/raygui.git
