[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = tags/release-2.26.5
[submodule "thirdparty/quickjs"]
	path = thirdparty/quickjs
	url = https://github.com/bellard/quickjs.git
