[submodule "thirdparty/quickjs"]
	path = thirdparty/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
	branch = main
[submodule "thirdparty/raygui"]
	path = thirdparty/raygui
	url = https://github.com/raysan5/raygui.git
	branch = main
[submodule "thirdparty/lightmapper"]
	path = thirdparty/lightmapper
	url = https://github.com/ands/lightmapper.git
